extends ../../inc/layout.pug
block head
	- var title="Репетитор по биологии в Минске - Ходаковский Владимир Андреевич";
block content
	- var path = "/jqm/assets/img/preps-images/"; 
	div.page-prep(data-role="page")
		div(data-role="header")
			h1 Владимир Сергеевич Ходаковский
			a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(href="/jqm/" data-rel="back" data-direction="reverse")
			a.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corner-all.ui-btn-right(href="#drawer")
		div.ui-content(role="main") 
			.post-header.lazyload(data-bg=path+"hodac.jpg")
				.desc
					p Владимир Андреевич <br> ХОДАКОВСКИЙ
					p химия, биология
			div(data-role='tabs')
				div(data-role='navbar')
					ul
						li
							a.ui-btn-active(
							 href='#one'
							 data-theme='a'
							 data-ajax='false') Информация
						li
							a(href='#two', data-theme='a', data-ajax='false') Отзывы
				#one.ui-content
					h4 Образование
					p Белорусский государственный медицинский университет, лечебный факультет.
					p 2016 – Chem101: General Chemistry I (Saylor Academy; Washington, DC)
					p 2017 – Bio101: Introducrion to Molecular and Cellular Biology (Saylor Academy; Washington, DC)
					
					h4 О преподавателе
					p В преподавательской деятельности 8 лет. Автор 16 научных работ, в том числе 26 тезисов и 14 статей. Профессиональный репетитор по школьной программе и подготовке к ЦТ. Глубокое понимание потребностей абитуриентов, в том числе непосредственно медицинских и биологических университетов.
					
					h4 Методика обучения
					p Собственные методические разработки в виде схем, таблиц, распечаток теоретических и практических материалов, презентаций и видеоматериалов.

					h4 Расписание ближайших занятий
					table.ui-responsive.table-stroke(
					data-role="table" 
					id="subj-table" 
					data-mode="columntoggle"
					data-column-btn-text="Настройка столбцов.."
					)
						thead
							tr
								th(data-priority="1") Дата
								th Время 
								th(data-priority="1") Предмет
						tbody
							tr
								td 12 дек
								td 16.30-18.00
								td химия	
							tr
								td 13 дек
								td 16.30-18.00
								td биология
					a.white-button(href="#lead" data-rel="popup") Записаться			
				#two.ui-content
					h4 Отзывы о преподавателе
					.swiper-container.lazyload(
				data-script="/jqm/dist/js/swiper.min.js" 
				data-link="/jqm/dist/css/swiper.min.css")
						.swiper-wrapper
							.swiper-slide
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rem eligendi minus sed quo eius ipsam, dolor nulla molestias et suscipit animi? Maiores rem assumenda odio quia alias vero soluta!
							.swiper-slide
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sed vero nostrum iste nobis ipsum, pariatur neque deserunt expedita velit non tempore aliquid quae, est et quod numquam repellendus illum?
						.swiper-pagination
					a.white-button(href="#lead" data-rel="popup") Записаться
		// inner footer
		include ../../inc/inner-footer.pug
		// POPUP
		include ../../inc/popup.pug
		// NAVIGATION DRAWER
		include ../../inc/drawer.pug
