extends ../../inc/layout.pug
block head
	- var title="Луцевич Софья";
block content
	.page-prep(data-role="page")
		div(data-role="header")
			a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(
			href="/jqm/" 
			data-ajax="false")
			h1 Софья Геннадьевна ЛУЦЕВИЧ
			a.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corner-all.ui-btn-right(href="#drawer")
		.ui-content(role="main")
			.post-header.lazyload(data-bg="/jqm/assets/img/preps-images/lutj2.jpg")
				.desc
					p Софья Геннадьевна <br>ЛУЦЕВИЧ
					p русский язык и литература
			div(data-role='tabs')
				div(data-role='navbar')
					ul
						li
							a.ui-btn-active(
							 href='#one'
							 data-theme='a'
							 data-ajax='false') Информация
						li
							a(href='#two', data-theme='a', data-ajax='false') Отзывы
				#one.ui-content
					h4 Образование
					p БГУ. Филологический факультет. Специальность: "Филолог. Преподаватель русского языка и литературы. Специалист по деловой коммуникации".

					h4 О преподавателе
					p Филологический факультет БГУ (Специальность - "Филолог. Преподаватель русского языка и литературы. Специалист по деловой коммуникации").
					p Практикующий специалист в изучении русского языка (работаю со школьниками всех возрастов и взрослыми, изучающими русский язык как иностранный).
					p Постоянно совершенствуется лично и профессионально. Насыщает программы обучения эффективными методиками. Чтобы Вы как можно скорее почувствовали результат.

					h4 Методика обучения
					p Методика проведения занятий подбирается для каждого ученика индивидуально после тестирования текущего уровня ученика по предмету.

					p: b Что делаем на занятиях по школьной программе?

					ul 
						li Выявляем и устраняем пробелы в знаниях
						li Занимаемся по темам, которые ученик проходит в школе, углубляя знания по ним
						li При желании и достаточной мотивации ученика, опережаем школьную программу и постоянно совершенствуемся в уже полученных знаниях
						li Работают с наглядным материалом: таблицами, схемами, презентациями
						li Практикуем нестандартные методы работы в игровой форме, позволяющие ученику проникнуться искренним интересом к предмету
						li Ставим правильную и красивую устную речь

					p: b Как готовимся к ЦТ?

					ul
						li Прорабатываем все темы школьной программы, знание которых необходимо для сдачи ЦТ;
						li Практика и ещё больше практики: никому не нужно бездумное знание теории. Поэтому мы на занятиях учимся решать реальные практические задания и тесты. Мы работаем над тем, с чем абитуриент столкнётся в день сдачи ЦТ;
						li Постоянно повторяем и закрепляем уже пройденный материал так, чтобы ни одна тема не вылетела из головы;
						li Упорядочивание знаний в голове ученика. Хаотично разбросанные знания никак не помогут подготовиться к ЦТ. Именно поэтому всё раскладываем по полочкам;
						li Отрабатываем пропущенные или отменённые занятия. Ведь каждое занятие на вес золота. И даже если ученик или преподаватель заболел, и занятия пришлось отменить - это не проблема. Отработки в другой день в личном / скайп-формате - обязательный элемент обучения;
						li Готовые материалы для подготовки. Не придётся разоряться на сборниках, мучительно выискивать то тут, то там нужное правило. Преподавателем уже разработан готовый курс по подготовке к ЦТ, в котором обобщён лучший опыт подготовки предыдущих поколений абитуриентов. Ученик получает к нему доступ в начале занятий с преподавателем. Из литературы нужно будет купить только 2 тестовых сборника.

					h4 Расписание ближайших занятий
					table.ui-responsive.table-stroke(
					data-role="table" 
					id="subj-table" 
					data-mode="columntoggle"
					data-column-btn-text="Настройка столбцов.."
					)
						thead
							tr
								th(data-priority="1") Дата
								th Время 
								th(data-priority="1") Предмет
						tbody
							tr
								td 12 дек
								td 16.30-18.00
								td русский язык	
							tr
								td 13 дек
								td 16.30-18.00
								td литература
						a.white-button(href="#lead"  data-rel="popup") Записаться			
				#two.ui-content
					h4 Отзывы о преподавателе
					.swiper-container.lazyload(
				data-script="/jqm/dist/js/swiper.min.js" 
				data-link="/jqm/dist/css/swiper.min.css")
						.swiper-wrapper
							.swiper-slide
								p Хотите достойно сдать цт по русскому? Вам однозначно сюда! Талантливый преподаватель Сергеева Софья Геннадьевна , "Богиня русского языка!", все расскажет, объяснит и не успокоится, пока материал не будет усвоен. Помимо новых знаний вам гарантирована приятная дружеская атмосфера, много юмора и желание возвращаться на курсы снова и снова.
							.swiper-slide
								p Добрый день, уважаемые читатели 
								p Вчера я посетила занятие "Супер-интенсив" по русскому языку и хотела бы поделиться своим мнением. Все прошло очень быстро, несмотря на то, что именно это занятие проходит четыре с половиной часа, все это время мы разбирали задания по цт, разъясняли те задания, где больше всего допускают ошибки, сделали уклон на теорию в кратком виде, что очень хорошо для повторения, основное время этого занятия были практические задание, мы всегда были чём-то заняты, хорошо, что преподаватель Софья Геннадьевна заботится о нас и немного разрядила обстановку, дала нам немного глюкозы для работы мозга, мы перекусили и дальше преступили к работе.
								p Хорошее было занятие накануне цт)
							.swiper-slide
								p Здравствуйте!
								p Прошла экспресс-курс по русскому языку в Фабрике знаний. Занималась у Софьи Геннадьевны. Весь материал излагался доступно, в распечатках с теорией можно было найти не только полезную информация, но и замечательный лайфхак касательно того,как лучше запомнить данное правило(стих,скороговорка). Но если какие-то темы вызывали затруднение, то Софья Геннадьевна всегда была готова прийти на помощь и объяснить еще раз))Также если было желание поработать дополнительно над какой-либо темой, то можно было обратиться к преподавателю и она сама делала подборку тестов специально по правилам, которые вам нужны.
								p Спасибо большое за хорошее качество занятий и за помощь при подготовке к ЦТ!
							.swiper-slide
								p Хочу выразить благодарность Фабрике знаний, в частности преподавателю русского языка, Софье Геннадьевне. Я начала ходить на курсы с октября и с самого первого занятия мне очень понравился ее стиль преподавания. Все трудные для понимания моменты она подробно объясняла, также рассказывала о «ловушках» ЦТ. Все правила очень удобно сформированы в виде таблиц, схем, «лайфхаков», распечатки с ними мы получали на каждом уроке. За весь курс было проделано огромное количество вариантов РТ и ЦТ, так что некоторые задания на самом ЦТ я решала уже «на автомате». Почти на каждом занятии нам выдавались мини-тесты для закрепления материала. В итоге я получила 86 баллов и теперь безмерно рада и благодарна Софье Геннадьевне за замечательные уроки!	
						.swiper-pagination
					a.white-button(href="#lead" data-rel="popup") Записаться				

		// footer
		include ../../inc/inner-footer.pug
		// POPUP
		include ../../inc/popup.pug
		// NAVIGATION DRAWER
		include ../../inc/drawer.pug			
