div.page-prep(data-role="page")
	div(data-role="header")
		h1 Александр Сергеевич ЛУЦЕВИЧ
		a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(href="/jqm/" data-rel="back" data-direction="reverse")
		a.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corner-all.ui-btn-right(href="#drawer")
	div.ui-content(role="main")
		.post-header.lazyload(data-bg="/jqm/assets/img/preps-images/lutj.jpg")
			.desc
				p Александр Сергеевич <br> ЛУЦЕВИЧ 
				p история Беларуси, обществоведение 
		div(data-role='tabs')
			div(data-role='navbar')
				ul
					li
						a.ui-btn-active(
						 href='#one'
						 data-theme='a'
						 data-ajax='false') Информация
					li
						a(href='#two', data-theme='a', data-ajax='false') Отзывы
			#one.ui-content
				h4 Образование
				p Белорусский государственный университет (БГУ), исторический факультет (история-политология)
				h4 О преподавателе
				p Работал в средней школе №181 г. Минск учителем истории и обществоведения. Опыт репетиторской работы уже 5 лет. Специализируется на подготовке к ЦТ.
				h4 Методика обучения
				p Что входит в полный курс обучения у Александра (подготовка на баллы более 85):		

				ul
					li Посещение всех занятий с августа-сентября по середину июня;
					li Выполнение заданий абитуриентом (обязательно!).
				p Уроки проходят следующим образом:

				ul
					li Происходит разбор новых тем, «переводя» научные тексты на понятный ученику язык, и составление конспекта занятия;
					li Ученики с преподавателем разбирают тесты прошлых лет и происходит обучение логическому рассуждению, а также умению находить типичные ответы для типичных вопросов;
					li Пройденные темы периодически повторяются.


				p Обязателен промежуточный контроль. Для обществоведения — контроль за курс 9 класса, а также 10 и 11 (3 зачёта) + дополнительно зачёт по терминам. Для истории Беларуси — контроль за курс 6 периодов истории (6 зачётов) + дополнительно зачёт по терминам и датам.
				p Занятия проходят в дружеской и непринуждённой обстановке - уроки похожи на беседу. Материал объясняется именно таким языком, который легко воспринимают ученики 11 класса. Обязательно приводятся примеры из повседневной жизни для усиления запоминания. В процесс обучения добавлен элемент развития абитуриента как личности (+ элементы профориентации).

				h4 Расписание ближайших занятий
				table.ui-responsive.table-stroke(
				data-role="table" 
				id="subj-table" 
				data-mode="columntoggle"
				data-column-btn-text="Настройка столбцов.."
				)
					thead
						tr
							th(data-priority="1") Дата
							th Время 
							th(data-priority="1") Предмет
					tbody
						tr
							td 12 дек
							td 16.30-18.00
							td история РБ	
						tr
							td 13 дек
							td 16.30-18.00
							td обществоведение
				a.white-button(href="#lead"  data-rel="popup") Записаться			
			#two.ui-content
				h4 Отзывы о преподавателе
				.swiper-container.lazyload(
			data-script="/jqm/dist/js/swiper.min.js" 
			data-link="/jqm/dist/css/swiper.min.css")
					.swiper-wrapper
						.swiper-slide
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rem eligendi minus sed quo eius ipsam, dolor nulla molestias et suscipit animi? Maiores rem assumenda odio quia alias vero soluta!
						.swiper-slide
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sed vero nostrum iste nobis ipsum, pariatur neque deserunt expedita velit non tempore aliquid quae, est et quod numquam repellendus illum?
					.swiper-pagination
				a.white-button(href="#lead" data-rel="popup") Записаться


	// inner footer
	include ../../inc/inner-footer.pug
	// POPUP
	include ../../inc/popup.pug
	// NAVIGATION DRAWER
	include ../../inc/drawer.pug
