extends ../../inc/layout.pug
block head
	- var title="Репетитор ЦТ по географии в Минске - Станислав Анатольевич ОЛИМПОВ";
block content
	.page-prep(data-role="page")
		div(data-role="header")
			a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(
			href="/jqm/" 
			data-ajax="false")
			h1 Станислав Анатольевич ОЛИМПОВ
			a.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corner-all.ui-btn-right(href="#drawer")
		.ui-content(role="main")
			.post-header.lazyload(data-bg="/jqm/assets/img/preps-images/olymp.jpg")
				.desc
					p Станислав Анатольевич <br>ОЛИМПОВ
					p география
			div(data-role='tabs')
					div(data-role='navbar')
						ul
							li
								a.ui-btn-active(
								 href='#one'
								 data-theme='a'
								 data-ajax='false') Информация
							li
								a(href='#two', data-theme='a', data-ajax='false') Отзывы
					#one.ui-content
						h4 Образование
						ul
							li <b>2008 год </b>- серебряная медаль на Международной олимпиаде по географии в Тунисе.
							li <b>2014 год </b>- окончил географический факультет БГУ с красным дипломом
							li <b>2015 год </b>- магистратура географического факультета БГУ.
						
						h4 О преподавателе
						p Опыт репетиторской работы – 3 года. Окончил обучение на географическом факультете с красным дипломом, впоследствии окончил магистратуру. В данный момент работает в сфере геоинформационных технологий.

						h4 Методика обучения
						p Во время занятия будет происходить диалог. Не стесняйтесь говорить, вы приходите за знаниями, и вы их получите. Ведь только так можно найти пробелы в знаниях и разобраться даже в самых сложных темах. Для усвоения информации используются как проверенные временем методы, так и самые новые способы подачи информации. Занятие с репетитором - это не школьный урок, атмосфера здесь намного дружелюбнее.

 

						h4 Расписание ближайших занятий
						table.ui-responsive.table-stroke(
						data-role="table" 
						id="subj-table" 
						data-mode="columntoggle"
						data-column-btn-text="Настройка столбцов.."
						)
							thead
								tr
									th(data-priority="1") Дата
									th Время 
									th(data-priority="1") Предмет
							tbody
								tr
									td 12 дек
									td 16.30-18.00
									td география
								tr
									td 13 дек
									td 16.30-18.00 
									td география
							a.white-button(href="#lead"  data-rel="popup") Записаться			
					#two.ui-content
						h4 Отзывы о преподавателе
						.swiper-container.lazyload(
						data-script="/jqm/dist/js/swiper.min.js" 
						data-link="/jqm/dist/css/swiper.min.css")
							.swiper-wrapper
								.swiper-slide
									p Ходил на географию. Мне всё понравилось. Многое что обсуждали попалось на следующий день на цт. Станислав уделял время каждому ученику. И общаться с преподавателем было легко. 4.5 часа прилетели незаметно.
								.swiper-slide
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolorum commodi, voluptatibus velit veritatis recusandae. Perspiciatis, praesentium! Dignissimos, dolores. Voluptas hic fugit similique doloremque ipsum doloribus sunt quas, aliquid ratione.
							.swiper-pagination
						a.white-button(href="#lead" data-rel="popup") Записаться
		// footer
		include ../../inc/inner-footer.pug
		// POPUP
		include ../../inc/popup.pug
		// NAVIGATION DRAWER
		include ../../inc/drawer.pug					