extends ../../inc/layout.pug
block head
	- var title="Репетитор ЦТ по белорусскому языку в Минске - Ирина Александровна Синявская";
block content
	.page-prep(data-role="page")
		div(data-role="header")
			a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(
			href="/jqm/" 
			data-ajax="false")
			h1 Ирина Александровна Синявская
			a.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corner-all.ui-btn-right(href="#drawer")
		.ui-content(role="main")
			.post-header.lazyload(data-bg="/jqm/assets/img/preps-images/sin.jpg")
				.desc
					p Ирина Александровна <br>СИНЯВСКАЯ
					p русский язык, литература
			div(data-role='tabs')
					div(data-role='navbar')
						ul
							li
								a.ui-btn-active(
								 href='#one'
								 data-theme='a'
								 data-ajax='false') Информация
							li
								a(href='#two', data-theme='a', data-ajax='false') Отзывы
							li
								a(href='#three', data-theme='a', data-ajax='false') Видео
					#one.ui-content
						h4 Образование
						p Белорусский государственный университет (БГУ), филологический факультет (отделение "Русская филология")
						
						h4 О преподавателе
						p Опыт репетиторской работы – 4 года. Пройдены курсы повышения квалификации РИПО по программе "Технологии активизации учебно-познавательной деятельности обучающихся". В наличии сертификат пользователя информационных технологий в образовании в категории "Учебно-воспитательная работа".

						h4 Методика обучения
						p Индивидуальный подход к каждому ученику, внимание к каждому вопросу и трудности. Методика преподавания: занятие состоит из трех этапов:
						p 1. Обязательная проверка практической и теоретической части домашнего задания, проверка знания словарных слов и слов, трудных для написания;
						p 2. Изложение теоретического материала по определенной теме с использованием различных средств обучения (схемы, таблицы, алгоритмы, кластеры, распечатки) и мнемонических приемов запоминания материала;
						p 3. Решение тестовых заданий по теме занятия а также вариантов ЦТ и РТ предыдущих лет, демонстрационных тестов и тестов, максимально приближенных к ЦТ.
						p На занятии используются учебные пособия, разработанные специально для абитуриентов, а также все знания и опыт в подготовке к ЦТ преподавателя. Ни один вопрос не остается без ответа.

 

						h4 Расписание ближайших занятий
						table.ui-responsive.table-stroke(
						data-role="table" 
						id="subj-table" 
						data-mode="columntoggle"
						data-column-btn-text="Настройка столбцов.."
						)
							thead
								tr
									th(data-priority="1") Дата
									th Время 
									th(data-priority="1") Предмет
							tbody
								tr
									td 12 дек
									td 16.30-18.00
									td русский
								tr
									td 13 дек
									td 16.30-18.00 
									td литература
							a.white-button(href="#lead"  data-rel="popup") Записаться			
					#two.ui-content
						h4 Отзывы о преподавателе
						.swiper-container.lazyload(
					data-script="/jqm/dist/js/swiper.min.js" 
					data-link="/jqm/dist/css/swiper.min.css")
							.swiper-wrapper
								.swiper-slide
									p Здравствуйте ,занималась русским и английским, и знаете что , это самые лучшие курсы , но самое главное , результат который мы хотим получить, зависит лишь от нас самих , преподаватель требует- значит надо. Так и было на занятиях. Выражаю огромную благодарность ,Анне 😊 и Ирине Александровне.
								.swiper-slide
									p В общем пришла я заниматься в фабрику знаний абсолютно случайно и только в середине февраля, безрассудно понадеявшись на ангела хранителя на цт. Было очень тяжело, и, наверное, даже было бы невозможно, если бы не Ирина и Александр Сергеевич, прекрасные преподаватели по русскому языку и истории Беларуси. Сначала я даже не поняла, что к чему и просто ходила на занятия. Только через месяц, когда баллы за проверочные тесты начали расти на глазах, я поняла вообще насколько мне повезло с обоими преподавателями.
								.swiper-slide
									p Ходила , начиная прямо с августа, на занятия по русскому языку к Ирине Александровне и по обществоведению к Александру Сергеевичу) Два замечательных преподавателя , которые лишний раз доказали , что за год можно получить больше , чем за все время в школе , что можно полюбить предмет, несмотря на его сложность и научиться его понимать😊 Безумно благодарна ❤❤❤Вы потрясающие😄
									p Если говорить отдельно )
								.swiper-slide
									p Ходила на курсы по истории Беларуси к Александру Сергеевичу и по русскому языку к Ирине Александровне. Хочу сказать, что это были два лучших преподавателя в моей жизни. 
									p Хорошая атмосфера, понимающие репетиторы и отличная подача материала. Историю не знала вообще, в итоге сдала на 81 балл,думаю,этим все сказано. Русский на 90.
									p Проверка проходит на таком уровне,что что-то пропустить просто не получится. В случае пропусков занятий есть отработки. Последние месяцы частично уходят на повторение, так что-то что-то забыть на цт сложновато)
							.swiper-pagination
						a.white-button(href="#lead" data-rel="popup") Записаться
					#three.ui-content
						h4 Видео
						iframe.lazyload(width="100%" 
						height="315" 
						data-src="https://www.youtube.com/embed/E762hVS_E1c" frameborder="0" 
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen) 
		// footer
		include ../../inc/inner-footer.pug
		// POPUP
		include ../../inc/popup.pug
		// NAVIGATION DRAWER
		include ../../inc/drawer.pug					