extends ../../inc/layout.pug
block head
	- var title="Репетитор по французскому языку в Минске - Ангелина Андреевна Жизневская";
block content
	div.page-prep(data-role="page")
		div(data-role="header")
			h1 Ангелина Андреевна Жизневская
			a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(href="/jqm/" data-rel="back" data-direction="reverse")
			a.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-corner-all.ui-btn-right(href="#drawer")
		div.ui-content(role="main")
			.post-header.lazyload(data-bg="/jqm/assets/img/preps-images/zhy.jpg")
				.desc
					p Ангелина Андреевна <br>ЖИЗНЕВСКАЯ
					p французский язык 
			div(data-role='tabs')
				div(data-role='navbar')
					ul
						li
							a.ui-btn-active(
							 href='#one'
							 data-theme='a'
							 data-ajax='false') Информация
						li
							a(href='#two', data-theme='a', data-ajax='false') Отзывы
						li
							a(href='#three', data-theme='a', data-ajax='false') Видео
				#one.ui-content
					h4 Образование
					p Минский государственный лингвистический университет, факультет межкультурных коммуникаций.
					p Уровень владения французским языком – С1 (уровень профессионального владения), диплом DALF C1
					
					h4 О преподавателе
					p Профессиональный преподаватель французского языка, обучения «с нуля» и до разговорного уровня взрослых и детей (постановка произношения, школьная программа, подготовка к олимпиадам, подготовка к поступлению в вузы, подготовка к сдаче международных экзаменов  DELF/ DALF) .

					p:b Опыт работы:

					ul
						li <b> Февраль 2016г. – июнь 2016г. </b> – социально-образовательный проект «Минский Университет третьего возраста» (преподаватель французского языка).
						li <b>Июнь 2016г. – август 2016г. </b>– лингвистический центр «El-School» (преподаватель французского языка, экспресс-курс).
						li <b>2016 – 2017 учебный год </b>–  ГУО «Минский государственный профессиональный лицей № 13» (преподаватель английского языка).
						li <b>2016 – 2017 учебный год</b> – центр межкультурных коммуникаций Lingualand (преподаватель французского языка).
						li <b>Сентябрь 2017г. – настоящее время </b>–  ГУО  «Санаторная школа-интернат № 9 г. Минска» (учитель 2-х иностранных языков).
					
					h4 Методика обучения
					p Подробное освоение и изучение лексики и грамматики с включением коммуникативной методики, грамотный подбор материала и наличие тщательно продуманной программы, необходимой для повышения уровня владения французским языком

					h4 Расписание ближайших занятий
					table.ui-responsive.table-stroke(
					data-role="table" 
					id="subj-table" 
					data-mode="columntoggle"
					data-column-btn-text="Настройка столбцов.."
					)
						thead
							tr
								th(data-priority="1") Дата
								th Время 
								th(data-priority="1") Предмет
						tbody
							tr
								td 12 дек
								td 16.30-18.00
								td фр. язык	
							tr
								td 13 дек
								td 16.30-18.00
								td фр. язык
					a.white-button(href="#lead" data-rel="popup") Записаться
				#two.ui-content
					h4 Отзывы о преподавателе
					.swiper-container.lazyload(
					data-script="/jqm/dist/js/swiper.min.js" 
					data-link="/jqm/dist/css/swiper.min.css")
						.swiper-wrapper
							.swiper-slide
								p Мы смогли обобщить весь пройденный за курс материал, повторить наиболее часто встречающиеся в цт темы. Урок был построен настолько структурно и гармонично, что в перерыве не было необходимости. Также мы прошли итоговый тест, благодаря чему каждый участник интенсива смог определить для себя те моменты, на которые нужно сделать упор при самостоятельной финальной работе. Таким образом, в день тестирования всё, что мы освежили на занятии, действительно попалось, и особых сложностей не возникло. Ну и, конечно же, хочу еще раз поблагодарить Ангелину за желание продолжать углубляться в мир французского языка вне зависимости от всяких экзаменов и цт)
							.swiper-slide
								p Я посещала курсы французского языка в Фабрике знаний. Выше Юрий расписал, как проходили занятия, и это чистая правда, подтверждаю. Преподаватель Ангелина подходит к делу серьёзно, но с душой. Видно, что человеку нравится французский язык, и она делится частичкой этой любви. Хоть цт (86) я написала хуже, чем последний этап рт (90), я все равно продолжу изучать французский и получать удовольствие.
								p Единственный нюанс: не совсем понятна была ситуация с отработками. Было бы удобнее, на мой взгляд, если бы была система , по которой абитуриент может отследить, где он посетил занятие, где не посетил, по чьей вине это случилось, сколько денег на счету и тд.
						.swiper-pagination
					a.white-button(href="#lead" data-rel="popup") Записаться
				#three.ui-content
					h4 Видео
					iframe.lazyload(
					width="100%" 
					height="315" 
					data-src="https://www.youtube.com/embed/CltneTxZqDg" 
					frameborder="0" 
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")


		// inner footer
		include ../../inc/inner-footer.pug
		// POPUP
		include ../../inc/popup.pug
		// NAVIGATION DRAWER
		include ../../inc/drawer.pug
