div.ui-corner-all(data-role="popup" id="shock")
	form
		div(style="padding:10px 20px;")
			h3 Бесплатное пробное занятие
			label.ui-hidden-accessible(for="un") Ваше имя:
			input(type="text" name="user" id="un" value="" placeholder="Ваше имя")
			label.ui-hidden-accessible(for="pw") Ваш номер телефона:
			input(type="text" 
			name="phone" 
			id="pw" 
			value="" 
			placeholder="+375 29 xxx xx xx")
			button(type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check") Отправить

div.ui-corner-all(data-role="popup" id="lead")
	form
		div(style="padding:10px 20px;")
			h3 Оставьте свой номер, <br> и мы вам перезвоним
			label.ui-hidden-accessible(for="pw") Ваш номер телефона:
			input(type="text" 
			name="phone" 
			id="pw" 
			value="" 
			placeholder="+375 29 xxx xx xx")
			button(type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check") Отправить
						