ul(data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true")
	li
		a(href="#" data-transition="slide")
			img.responsively-lazy(src="assets/img/preps/01.jpg"
			srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			data-srcset="assets/img/preps/01.jpg 400w, assets/img/preps/01-240.jpg 600w"
			width="80" height="80")
			h2 Александр Сергеевич ЛУЦЕВИЧ
			p История Беларуси и обществоведение
			li
				a(href="#")
					img.responsively-lazy(src="assets/img/preps/02.jpg"
					srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="assets/img/preps/02.jpg 400w, assets/img/preps/02-240.jpg 600w"
					width="80" height="80")
					h2 Софья Геннадьевна ЛУЦЕВИЧ
					p русский язык и литература
					li
						a(href="#")
							img.responsively-lazy(src="assets/img/preps/03.jpg"
							srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="assets/img/preps/03.jpg 400w, assets/img/preps/03-240.jpg 600w"
							width="80" height="80")
							h2 Владимир Сергеевич ХОДАКОВСКИЙ
							p химия, биология		
							li
								a(href="#")
									img.responsively-lazy(src="assets/img/preps/04.jpg"
									srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="assets/img/preps/04.jpg 400w, assets/img/preps/04-240.jpg 600w"
									width="80" height="80")
									h2 Полина Александровна ИВАНОВА
									p белорусский язык