- var path="/jqm/assets/src/pages/prep-html/"; 
- var jpg= "/jqm/assets/img/preps/";
ul(
data-role="listview" 
data-split-icon="gear" 
data-split-theme="a" 
data-inset="false")
	li
		a(href=path+"lutj.html" data-transition="slide")
			img.lazyload(data-src=jpg+"01.jpg")
			h2 Александр Сергеевич ЛУЦЕВИЧ
			p История Беларуси и обществоведение
	li
		a(href="#")
			img.lazyload(data-src=jpg+"02.jpg")
			h2 Софья Геннадьевна ЛУЦЕВИЧ
			p русский язык и литература
	li
		a(href=path+"hodac.html" data-transition="slide")
			img.lazyload(data-src=jpg+"03.jpg")
			h2 Владимир Сергеевич ХОДАКОВСКИЙ
			p химия, биология
	li
		a(href="#")
			img.lazyload(data-src=jpg+"04.jpg")
			h2 Полина Александровна ИВАНОВА
			p белорусский язык
	li
		a(href="#")
			img.lazyload(data-src=jpg+"05.jpg")
			h2 Мария Ивановна ЛОБОДА
			p математика
	li
		a(href="#")
			img.lazyload(data-src=jpg+"06.jpg")
			h2 Светлана Ивановна ЛАПКО
			p химия, физика
	li
		a(href="#")
			img.lazyload(data-src=jpg+"07.jpg")
			h2 Анна Ивановна ШАБЛИНСКАЯ
			p английский язык
	li
		a(href="#")
			img.lazyload(data-src=jpg+"08.jpg")
			h2 Вероника Витальевна ЛУКАШЕВИЧ
			p немецкий, русский язык
	li
		a(href="#")
			img.lazyload(data-src=jpg+"09.jpg")
			h2 Ирина Александровна СИНЯВСКАЯ
			p белорусский язык
	li
		a(href="#")
			img.lazyload(data-src=jpg+"010.jpg")
			h2 Станислав Анатольевич ОЛИМПОВ
			p география
	li
		a(href="#")
			img.lazyload(data-src=jpg+"011.jpg")
			h2 Наталья Александровна СЕЛИВОНЧИК
			p химия
	li
		a(href="#")
			img.lazyload(data-src=jpg+"012.jpg")
			h2 Игорь Иванович ЛАПКО
			p математика
	li
		a(href="#")
			img.lazyload(data-src=jpg+"013.jpg")
			h2 Ангелина Андреевна ЖИЗНЕВСКАЯ
			p французский язык