- var path = '/jqm/assets/src/pages/subj-html/';
- var jpg = '/jqm/assets/img/subject-images/';
ul(
data-role="listview" 
data-split-icon="gear" 
data-split-theme="a" 
)
	li
		a(href=path+"bio.html" data-transition="slide")
			img.lazyload(data-src=jpg+"80-80_1.jpg")
			h2 Биология
			p Ср 18.00 - 19.30
	li
		a(href=path+"rus.html" data-transition="slide")
			img.lazyload(data-src=jpg+"80-80_2.jpg")
			h2 Русский язык
			p Сб 13.30 - 15.00
	li
		a(href=path+"history.html" data-transition="slide")
			img.lazyload(data-src=jpg+"80-80_3.jpg")
			h2 История Беларуси
			p Пн 16.30 - 18.00
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_4.jpg")
			h2 Физика
			p Сб 18.00 - 19.30
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_5.jpg")
			h2 Французский язык
			p Сб 09.00 - 10.30
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_6.jpg")
			h2 Математика
			p Вс 10.30 - 12.00, Пт 19.30 - 21.00
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_7.jpg")
			h2 Химия
			p Вс 09.00 - 10.30
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_8.jpg")
			h2 География
			p 
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_9.jpg")
			h2 Белорусский язык
			p Вс 12.00 - 13.30
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_10.jpg")
			h2 Обществоведение
			p Ср 16.30 - 18.00, Пт 16.30-18.00
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_11.jpg")
			h2 Английский язык
			p Вс 12.00-13.30, Чт 16.30-18.00
	li
		a(href="#")
			img.lazyload(data-src=jpg+"80-80_12.jpg")
			h2 Немецкий язык
			p 